# === Java ===
*.class
*.jar
*.war
*.ear
*.log

# === Build ===
/bin/
/build/
/out/

# === IDEs ===
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# === OS files ===
.DS_Store      # macOS
Thumbs.db      # Windows

# === Others (optional) ===
*.tmp
*.swp
